$border-style: solid;
$border-size: 1px;
$border-wht-color: #fff;
$color-blk: #333;
$color-gray:#999;
$font-header: 'Josefin Sans', sans-serif;
$font-logo: 'Satisfy', cursive;
$font-menu: $font-header;
$footer-menu-color: #fff;
$icon-color: #fff;
$icon-size: 25px;
$navbar-height: 50px;
$navbar-logo-size: 40px;
$section-full-height:
    "about-s1",
    "about-s2",
    "contact-s1",
    "contact-s2",
    "index-s1",
    "index-s3",
    "index-s4",
    "menu-s1",
    "menu-s2",
    "privacy-s",
    "services-s1",
    "services-s2",
    "staff-s1",
    "staff-s2";
$section-half-height:
    "index-s2",
    "index-s5",
    "index-s6",
    "index-s7";
$text-wht: #fff;
$top-bg-img: "../img/index-s1-bg-xs.jpg";
$top-bg-img-lg: "../img/index-s1-bg-lg.jpg";
